# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
.venv/
env/

# Environment
.env

# Temporary repos cloned by CodeLens
/tmp/codelens_repos/

# Streamlit
.streamlit/secrets.toml

# pyvis output
*.html

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
